@model ProductViewModel
@{
    var products = Model.Products.ToList();
}

<div class="container mt-5">
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-lg-6 col-md-2 col-sm-6 mb-4">
                <div class="card border-0 shadow">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                            @if (product.Image != null && product.Image.Length > 0)
                            {
                                <img src="data:image;base64,@Convert.ToBase64String(product.Image)" class="card-img-top" alt="Изображение продукта" style="margin-left: 10px; width: 150px; height: 150px;">
                            }
                            else
                            {
                                <img src="~/images/empty.png" class="card-img-top" alt="Изображение продукта" style="margin-left: 10px; width: 150px; height: 150px;">
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">@product.Name</h4>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text">Цена: @product.Price</p>
                                <p class="card-text">Категория: @product.ProductCategory.Name</p>
                                <p class="card-text">Единица измерения: @product.UnitMeasure.Name</p>
                            </div>
                            <div class="card-footer">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("ViewProduct", "Product", new { id = product.Id })" class="btn btn-sm btn-success">Просмотр</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", "Product", new { id = product.Id })" class="btn btn-sm btn-primary">Редактировать</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-sm btn-danger">Удалить</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>