@model MenuViewModel
@{
    var products = Model.TList.ToList();
    var productsPerRow = 3; // Number of products to display per row
}

@for (int i = 0; i < products.Count(); i += productsPerRow)
{
    <div class="content justify-content-center">
        <div class="container-fluid">
            <div class="row">
                @for (int j = i; j < Math.Min(i + productsPerRow, products.Count()); j++)
                {
                    var product = products[j];
                    <div class="col-lg-@(12 / productsPerRow)">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        @if (product.Image != null)
                                        {
                                            <img src="@product.Image" style="width:200px; height:200px" />
                                        }
                                        else
                                        {
                                            <img src="~/images/default-image.jpg" style="width:200px; height:200px" />
                                        }
                                    </div>
                                    <div class="col-lg-6">
                                        <h6 class="card-title">@product.Name</h6>
                                        <p class="card-text">@product.Description</p>
                                        <p class="card-text">Price: @product.Price</p>
                                        <table border="0">
                                            <tr>
                                                <td>
                                                    <form method="post" asp-action="ViewProduct" asp-controller="Menu">
                                                        <input type="hidden" asp-for="@product.Id" /><br />
                                                        <input type="submit" class="btn btn-sm btn-success" value="View" />
                                                    </form>
                                                </td>
                                                <td>
                                                    <form method="post" asp-action="GetProduct" asp-controller="Menu">
                                                        <input type="hidden" asp-for="@product.Id" /><br />
                                                        <input type="submit" class="btn btn-sm btn-success" value="Edit" />
                                                    </form>
                                                </td>
                                                <td>
                                                    <form method="post" asp-action="DeleteProduct" asp-controller="Menu">
                                                        <input type="hidden" asp-for="@product.Id" /><br />
                                                        <input type="submit" class="btn btn-sm btn-success" value="Delete" />
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
}
