@model UserViewViewModel

@{
    ViewData["Title"] = "Просмотр пользователя";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Детали пользователя</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="FirstName">Имя:</label>
                        <input class="form-control" type="text" id="FirstName" value="@Model.FirstName" readonly />
                    </div>
                    <div class="form-group">
                        <label for="LastName">Фамилия:</label>
                        <input class="form-control" type="text" id="LastName" value="@Model.LastName" readonly />
                    </div>
                    <div class="form-group">
                        <label for="Email">Электронная почта:</label>
                        <input class="form-control" type="text" id="Email" value="@Model.Email" readonly />
                    </div>
                    <div class="form-group">
                        <label for="Address">Адрес:</label>
                        <input class="form-control" type="text" id="Address" value="@Model.Address" readonly />
                    </div>
                    <div class="form-group">
                        <label for="Phone">Телефон:</label>
                        <input class="form-control" type="text" id="Phone" value="@Model.Phone" readonly />
                    </div>
                    <div class="form-group">
                        <label for="Login">Логин:</label>
                        <input class="form-control" type="text" id="Login" value="@Model.Login" readonly />
                    </div>
                    <div class="form-group">
                        <label for="Password">Пароль:</label>
                        <input class="form-control" type="text" id="Password" value="@Model.Password" readonly />
                    </div>
                    <div class="form-group">
                        <label for="image">Изображение:</label>
                    </div>
                    <div class="form-group">
                        @if (Model.Avatar != null && Model.Avatar.Length > 0)
                        {
                            <img src="data:image;base64,@Convert.ToBase64String(Model.Avatar)" alt="Изображение пользователя" style="width: 300px; height: auto;" />
                        }
                        else
                        {
                            <span>Изображение отсутствует</span>
                        }
                    </div>
                    <div class="form-group">
                        <table>
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index", "user", new { id = Model.Id })" class="btn btn-sm btn-success">Вернуться к списку пользователей</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "user", new { id = Model.Id })" class="btn btn-sm btn-primary">Редактировать</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
